<section class="streak">
  <h3>
    <img src='/images/fire.svg' alt='Streak' /><span><%= @streak %></span>
    <svg onclick="showDownloadOptions()" class="download" fill="#A2A2A2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M30.729,57.915c5.941,7.138,11.883,14.276,17.824,21.414c0.438,0.524,0.951,0.715,1.447,0.681
      c0.496,0.034,1.011-0.156,1.447-0.681c5.941-7.138,11.883-14.276,17.824-21.414c1.1-1.319,0.461-3.494-1.446-3.494
      c-2.494,0-4.986,0-7.479,0c0-10.795,0-21.59,0-32.386c0-1.116-0.931-2.047-2.047-2.047c-5.531,0-11.064,0-16.598,0
      c-1.116,0-2.047,0.931-2.047,2.047c0,10.796,0,21.591,0,32.386c-2.493,0-4.985,0-7.479,0C30.268,54.421,29.629,56.596,30.729,57.915
      z"></path><path d="M50,100c27.614,0,50-22.386,50-50S77.614,0,50,0S0,22.386,0,50S22.386,100,50,100z M50,8c23.196,0,42,18.804,42,42
      c0,23.195-18.804,42-42,42C26.805,92,8,73.195,8,50C8,26.804,26.805,8,50,8z"></path></svg>
    <div class="download-options">
        <svg onclick="downloadCSV()" class="csv" fill="#A2A2A2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 168.292 195" enable-background="new 0 0 168.292 195" xml:space="preserve"><polygon points="98.561,156.685 98.561,129.244 81.257,129.244 81.257,156.685 62.143,156.685 90.236,189.838 118.328,156.685 "></polygon><path d="M145.341,60.118V45.374c0-0.773-0.324-1.558-0.866-2.109L108.553,6.886c-0.468-0.585-1.415-0.891-2.134-0.891H37.722  c-1.657,0-3,1.343-3,3v51.123h-9.425v59.57h9.425v25.232c0,1.658,1.343,3,3,3h38.535v-6H40.722v-22.232h98.619v22.232h-35.78v6  h38.78c1.657,0,3-1.342,3-3v-25.232h9.108v-59.57H145.341z M109.419,16.298l25.738,26.076h-25.738V16.298z M68.644,98.588  c1.84,0,3.879-0.4,5.08-0.88l0.919,4.759c-1.12,0.56-3.639,1.16-6.918,1.16c-9.319,0-14.118-5.799-14.118-13.478  c0-9.199,6.559-14.318,14.717-14.318c3.16,0,5.559,0.64,6.639,1.2l-1.24,4.839c-1.24-0.52-2.96-1-5.119-1  c-4.839,0-8.599,2.92-8.599,8.919C60.006,95.188,63.205,98.588,68.644,98.588z M87.245,103.627c-3.079,0-6.119-0.801-7.639-1.641  l1.24-5.039c1.64,0.84,4.16,1.679,6.759,1.679c2.8,0,4.279-1.159,4.279-2.919c0-1.68-1.28-2.64-4.52-3.799  c-4.479-1.56-7.399-4.04-7.399-7.959c0-4.599,3.839-8.119,10.199-8.119c3.039,0,5.279,0.64,6.879,1.36l-1.359,4.919  c-1.08-0.52-3-1.28-5.64-1.28s-3.919,1.2-3.919,2.6c0,1.72,1.52,2.48,4.999,3.8c4.759,1.759,6.999,4.239,6.999,8.039  C98.124,99.787,94.644,103.627,87.245,103.627z M117.723,103.227h-7.118l-8.639-26.956h6.679l3.279,11.398  c0.92,3.2,1.76,6.279,2.399,9.639h0.12c0.68-3.24,1.52-6.439,2.439-9.519l3.439-11.518h6.479L117.723,103.227z M139.341,60.118  H40.722V11.995h62.697v33.378c0,1.657,1.343,3,3,3h32.922V60.118z"></path></svg>

      <svg class="xlsx" onclick="downloadXLSX()" fill="#A2A2A2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 168.292 195" enable-background="new 0 0 168.292 195" xml:space="preserve"><polygon points="98.561,156.685 98.561,129.244 81.257,129.244 81.257,156.685 62.143,156.685 90.236,189.838 118.328,156.685 "></polygon><path d="M145.341,60.118V45.374c0-0.773-0.324-1.558-0.866-2.109L108.553,6.886c-0.468-0.585-1.415-0.891-2.134-0.891H37.722  c-1.657,0-3,1.343-3,3v51.123h-9.425v59.57h9.425v25.232c0,1.658,1.343,3,3,3h38.535v-6H40.722v-22.232h98.619v22.232h-35.78v6  h38.78c1.657,0,3-1.342,3-3v-25.232h9.108v-59.57H145.341z M109.419,16.298l25.738,26.076h-25.738V16.298z M57.924,103.227  l-2.44-4.879c-1-1.88-1.64-3.28-2.399-4.839h-0.08c-0.56,1.56-1.24,2.959-2.08,4.839l-2.24,4.879h-6.959l7.799-13.638l-7.519-13.318  h6.999l2.36,4.919c0.8,1.64,1.4,2.959,2.04,4.479h0.08c0.64-1.72,1.16-2.919,1.84-4.479l2.279-4.919h6.959l-7.599,13.158  l7.999,13.798H57.924z M87.083,103.227H70.246V76.271h6.119v21.836h10.719V103.227z M99.285,103.627  c-3.079,0-6.119-0.801-7.639-1.641l1.239-5.039c1.641,0.84,4.16,1.679,6.76,1.679c2.799,0,4.278-1.159,4.278-2.919  c0-1.68-1.279-2.64-4.519-3.799c-4.479-1.56-7.399-4.04-7.399-7.959c0-4.599,3.84-8.119,10.199-8.119c3.039,0,5.278,0.64,6.878,1.36  l-1.359,4.919c-1.08-0.52-2.999-1.28-5.639-1.28s-3.92,1.2-3.92,2.6c0,1.72,1.52,2.48,4.999,3.8c4.76,1.759,6.999,4.239,6.999,8.039  C110.163,99.787,106.683,103.627,99.285,103.627z M130.483,103.227l-2.439-4.879c-1-1.88-1.64-3.28-2.399-4.839h-0.08  c-0.561,1.56-1.24,2.959-2.08,4.839l-2.239,4.879h-6.959l7.799-13.638l-7.519-13.318h6.998l2.36,4.919  c0.8,1.64,1.399,2.959,2.039,4.479h0.08c0.64-1.72,1.16-2.919,1.84-4.479l2.279-4.919h6.959l-7.599,13.158l7.999,13.798H130.483z   M139.341,60.118H40.722V11.995h62.697v33.378c0,1.657,1.343,3,3,3h32.922V60.118z"></path></svg>
    </div>
  </h3>
</section>
<section class='history grid'>
  <% @log_entries.each do |entry| %>
    <div class='card grid-item'>
      <div class='card-title'>
        <% if @image_url %>
          <img title="Change your Gravatar at gravatar.com" class='profile' src='<%= @image_url %>' alt='Your image' />
          <br />
        <% end %>
        <small class='time'>
          <%= humanize_time(entry.local_created_at) %>
        </small>
      </div>
      <div class='body'>
        <p><%= h entry.body %></p>
      </div>
    </div>
  <% end %>
</section>

<% content_for :head do %>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<% end %>

<% content_for :script do %>
  <script src="/history.js"></script>
<% end %>

