<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Journmail</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="content">
  <section class="header-small">
    <a href='/'>
      <img src="/images/logo.png" alt="Journmail logo" class="logo">
    </a>
  </section>
  <section class="streak">
    <img src='/images/fire.svg' alt='Streak' />
    <h3>
      Your streak is <b><%= @streak %></b> days. <% if @streak == 0 %> 😢 <% else %> 😎 <% end %> 
    </h3>
  </section>
  <section class='history grid'>
    <% @log_entries.each do |entry| %>
      <div class='card grid-item'>
        <div class='card-title'>
          <h1 class="register-thanks" title="<%= entry.created_at %>"><%= "#{time_ago_in_words(entry.created_at)} ago" %></h1>
        </div>
        <p><%= entry.body %></p>
      </div>
    <% end %>
  </section>
  <div class="footer__credentials">
    <p class="footer__authors">Made by <a href="https://twitter.com/shimewastaken">@shimewastaken</a> and <a href="https://twitter.com/vblazenka">@vblazenka</a>.</p>
    <p class="footer__company">© 2017 TwoBucks</p>
  </div>
  <script src="/history.js"></script>
</body>
</html>
