<section class="streak">
  <h3>
    <img src='/images/fire.svg' alt='Streak' /><span><%= @streak %></span>
  </h3>
</section>
<section class='history grid'>
  <% @log_entries.each do |entry| %>
    <div class='card grid-item'>
      <div class='card-title'>
        <% if @image_url %>
          <img title="Change your Gravatar at gravatar.com" class='profile' src='<%= @image_url %>' alt='Your image' />
          <br />
        <% end %>
        <small class='time'>
          <%= humanize_time(entry.local_created_at) %>
        </small>
      </div>
      <div class='body'>
        <p><%= h entry.body %></p>
      </div>
    </div>
  <% end %>
</section>

<% content_for :head do %>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<% end %>

<% content_for :script do %>
  <script src="/history.js"></script>
<% end %>

