<div class='card register-thanks'>
  <div class='card-title'>
    <h1 class="register-thanks">404</h1>
  </div>
  <p>Page not found.</p>
  <br />
  <p>
    <a href="/" class="button button-submit js-submit">Go back to home page</a>
  </p>
</div>
