<div class='card register-thanks'>
  <div class='card-title'>
    <h1 class="register-thanks">Thank you for registering.</h1>
  </div>
  <p>You are the best! 🙌 </p><p> You will receive an email notification at 6:00PM your time. </p><p>Good luck with working on your consistency!</p>
</div>
