<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Journmail</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.js"></script>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <main role="main" class="content">
    <section class="header-small">
      <img src="/images/logo.png" alt="Journmail logo" class="logo">
    </section>
    <h1 class="register-thanks">Thank you for registering.</h1>
    <h3 class="register-describe">You will receive an email reminder at 6PM your time to post your first entry. Work on your consistency and post something every day for optimum results. </p>
    <div class="footer__credentials">
      <p class="footer__authors">Made by <a href="https://twitter.com/shimewastaken">@shimewastaken</a> and <a href="https://twitter.com/vblazenka">@vblazenka</a>.</p>
      <p class="footer__company">© 2017 TwoBucks</p>
    </div>
  </main>

  <script src="./script.js"></script>
</body>
</html>
