<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Journmail</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.js"></script>
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <main role="main" class="content unsubscribe">
    <section class="header-small">
      <a href='/'>
        <img src="/images/logo.png" alt="Journmail logo" class="logo">
      </a>
    </section>
    <div class='card register-thanks'>
      <% if @current_user.paypal_subscription&.active? %>
        <p>Click the below button to cancel your PayPal subscription and
           unsubscribe from all Journmail emails.</p>
      <% else %>
        <p>
          Click the below button to unsubscribe from all Journmail emails.
        </p>
      <% end %>

      <button class="button button-submit js-submit">
        <span class="button-loading"></span>
        <span> Unsubscribe </span>
      </button>

      <div class="error-message" style="display:none; margin-top: 30px"> </div>
      <div class="something-went-wrong" style="display:none; margin-top: 30px"> Something went wrong. </div>
      <div class="success-message" style="display:none; margin-top: 30px"> Sorry to see you go! You are now unsubscribed from all Journmail emails. </div>
    </div>
    <div class="footer-small footer__credentials">
      <p class="footer__authors">Made by <a href="https://twitter.com/shimewastaken">@shimewastaken</a> and <a href="https://twitter.com/vblazenka">@vblazenka</a>.</p>
      <p class="footer__company">© 2017 <a href="https://twobucks.co">Two Bucks</a></p>
    </div>
  </main>

  <script src="/unsubscribe.js"></script>
</body>
</html>
