<div class='card register-thanks'>
  <p>
    Click the below button to unsubscribe from all Journmail emails.
  </p>

  <button class="button button-submit js-submit">
    <span class="button-loading"></span>
    <span> Unsubscribe </span>
  </button>

  <div class="error-message" style="display:none; margin-top: 30px"> </div>
  <div class="something-went-wrong" style="display:none; margin-top: 30px"> Something went wrong. </div>
  <div class="success-message" style="display:none; margin-top: 30px"> Sorry to see you go! You are now unsubscribed from all Journmail emails. </div>
</div>

<% content_for :script do %>
  <script src="/unsubscribe.js"></script>
<% end %>
