* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  overflow-x: hidden;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 80vh;
  background-image: url("./images/gradient_mask.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.header p, 
.header h1 {
  color: white;  
}

.logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}

.header__patterns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./images/header_pattern.svg");
  min-height: 400px;
  width: 100%;
  max-width: 700px;
  background-repeat: no-repeat;
  z-index: 5;
}

.header__content {
  max-width: 750px;
  padding: 0 40px;
  z-index: 10;
}

.header h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
}

.header p {
  font-size: 18px;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 300;
}

.errors {
  margin-top: 20px;
}

.button {
  padding: 15px 30px;
  background-color: #3869D4;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  outline: 0;
  border: 0;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  transition: background-color .2s ease;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  -webkit-text-size-adjust: none;
}

.button:hover {
  background-color: #254592;
}

.content {
  background-image: url('/images/gplaypattern.png');
  background-repeat: repeat;
  height: 100%;
  padding-bottom: 100px;
}

.button-loading {
  display: none;
  width: 16px;
  height: 16px;
  background-image: url("./images/spinner.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: rotate 1s linear infinite;
}

.button--loading {
  min-width: 140px;
  height: 45px;
  vertical-align: middle;
}

.button--loading span {
  display: none;
}

.button--loading .button-loading {
  display: inline-block;
}

.input {
  padding: 15px 20px;
  border: 0;
  outline: 0;
  border-radius: 3px;
  font-size: 12px;
  color: #333;
  width: 100%;
}

.input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #aaa;
}
.input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #aaa;
  opacity:  1;
}
.input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #aaa;
  opacity:  1;
}
.input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #aaa;
}
.input::-ms-input-placeholder { /* Microsoft Edge */
  color:    #aaa;
}

.form-block {
  margin-top: 40px;
  padding: 0 20px;
}

.form-block .input {
  max-width: 350px;
  margin-right: 10px;
}

h1, h2, h3 {
  color: #93c5fc;
}

.section {
  padding: 40px 0;
}

.features {
  width: 100%;
  margin: 0 auto;
  background-image: url('/images/gplaypattern.png');
  background-repeat: repeat;
}

.features h1 {
  font-size: 32px;
  background-image: url("./images/feature-smilies.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features__grid {
  margin: 60px 0;
}

.bottom-spacing {
  margin-bottom: 40px;
}

.feature {
  display: flex;
  padding: 20px;
  text-align: left;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: #fff;
}

.feature__content {
  flex: 1;
  padding: 0 20px;
}

.feature h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

.feature p {
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  color: #8b8b8b;
}

.pricing {
  display: flex;
  flex-direction: column;
  min-height: 360px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing .card {
  width: 600px;
}

.pricing .card-wrapper {
  padding: 3px;
  background: #DFC3FC;
  background: -webkit-linear-gradient(to right, #DFC3FC, #97C5FC);
  background: linear-gradient(to right, #DFC3FC, #97C5FC);
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.pricing h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

.pricing p {
  font-size: 20px;
  font-weight: 300;
  color: #93c5fc;
  margin-top: 0;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45vh;
  background-image: url("./images/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.footer-form {
  width: 100%;
  margin-top: -50px;
}

.footer-form h1 {
  margin-bottom: 5px;
  font-size: 24px;
  color: white;
}

.footer-form p {
  font-size: 16px;
  color: white;
}

.footer__credentials {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 7px 40px;
  display: flex;
  background-color: #b8c4fc;
}

.footer__credentials p {
  flex: 1;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

.footer__credentials a {
  color: #3498db;
  text-decoration: none;
}

.register-describe {
  max-width: 400px;
  margin: auto;
}

.header-small {
  background: #DFC3FC;
  background: -webkit-linear-gradient(to right, #DFC3FC, #97C5FC);
  background: linear-gradient(to right, #DFC3FC, #97C5FC);
  height: 150px;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  position: relative;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 2px 2px -2px rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.12);
  width: 330px;
  border-radius: 2px;
  margin: auto;
  padding: 10px;
  color: #93c5fc;
}

.card-title {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.card.register-thanks {
  margin-top: 10rem;
}

.card {
  margin-top: 5rem;
}

/* Animation */
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 768px) {
  .header__content {
    padding: 0 20px;
  }

  .header h1 {
    font-size: 26px;
  }

  .header p {
    font-size: 16px;
  }

  .header {
    height: 95vh;
  }

  .feature img {
    width: 70px;
    height: 70px;
  }

  .feature h3 {
    font-size: 18px;
  }

  .feature p {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .form-block .input {
    width: 100%;
    max-width: 250px;
    margin: 0;
  }

  .button-submit {
    width: 100%;
    margin-top: 8px;
    max-width: 250px;
  }
}

@media screen and (max-width: 468px) {
  .features__grid {
    grid-template-columns: none;
  }

  .header h1 {
    font-size: 22px;
  }

  .header__content {
    margin-bottom: -100px;
  }

  .footer {
    min-height: 70vh;
  }

  .footer__credentials p {
    width: auto;
  }

  .footer__authors {
    width: 100%;
    text-align: center;
  }

  .card.register-thanks {
    margin-top: 5rem;
  }

  .register-describe {
    width: 300px;
  }

  .pricing .card {
    width: 300px;
  }
}
